<div class="card-help">
  <a href="{{ data.link }}" title="Clique aqui e {{ data.linkText }} sobre {{ data.title }}" class="card-help__link"
    target="_blank" rel="noopener noreferrer">
    <img src="{{ data.cover }}" alt="" loading="lazy" width="311" height="188.08" class="card-help__img" />
    <span class="card-help__sr-description">{{ data.title }}</span>
  </a>
</div>